:root {
    --text: #4F533A;
    --background: #DEDEDE;
    --primary: #658047;
    --secondary: #597345;
    --accent: #729763;
}

[data-theme="dark"] {
    --text: #a1a59c;
    --background: #212121;
    --primary: #9db87f;
    --secondary: #a0ba8c;
    --accent: #779c68;
}

.oswald-font {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: "Oswald", Helvetica, sans-serif;
    color: var(--text);
    margin: 0;
    animation: fadeInAnimation ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

b {
    font-weight: 700;
}

.topnav, .burger-topnav, .game-list-container {
    outline-style: solid;
    outline-width: 5px;
    outline-color: var(--accent);
}

.burger-topnav {
    display: none;
    border-radius: 0 0 15px 15px;
    position: fixed;
    z-index: 5;
    top: 0;
    width: calc(100% - 30px);
    min-height: 24px;
    background-color: var(--background);
    overflow: hidden;
    padding: 30px 15px;
}

.burger-topnav a {
    border-radius: 15px;
    color: var(--text);
    padding: 15px 30px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

#myLinks {
    display: none;
}

.burger-topnav > img {
    position: absolute;
    top: -5px;
    left: -5px;
    height: 90px;
}
.topnav > img {
    height: 90px;
    margin: -20px 0 -40px -20px;
    float: left;
}

#myLinks > a {
    font-size: 16px;
    display: block;
    width: fit-content;
}

#myLinks > a > u, .topnav > a > u, .topnav > a {
    text-decoration: none!important;
}

#myLinks > a:hover, .burger-topnav .navname:hover {
    background-color: var(--secondary);
    color: var(--text);
    text-decoration: underline;
}

.burger-icon {
    position: absolute;
    top: 5px;
    right: 5px;
}

.burger-icon:hover {
    filter: brightness(80%);
}

.nav-burger {
    height: 40px;
}

.topnav {
    border-radius: 0 0 15px 15px;
    position: fixed;
    z-index: 5;
    top: 0;
    width: calc(100% - 30px);
    background-color: var(--background);
    overflow: hidden;
    padding: 15px;
}
  
.topnav a {
    border-radius: 15px;
    float: left;
    color: var(--text);
    text-align: center;
    padding: 15px 30px;
    font-size: 16px;
    transition: 0.3s;
}

a.navname {
    background-color: var(--accent);
    border-radius: 15px;
    padding: 15px 30px;
    color: var(--text);
}
  
.topnav a:hover {
    background-color: var(--secondary);
    color: var(--background);
    text-decoration: underline!important;
}

.burger-topnav h, .topnav h { 
    font-size: 24px;
    color: var(--text);
    font-weight: 500;
    position: absolute;
    top: 23px;
    left: calc(50% - 63px);
}

.title-img {
    display: flex;
    justify-content: center;
    margin: auto;
    position: fixed;
    width: 100%;
    min-width: 1200px;
    top: 70px;
    left: -9999px;
    right: -9999px;
    filter: brightness(50%);
    z-index: -1;
}

.header-container {
    position: fixed;
    margin-top: 165px;
    width: 100%;
    text-align: center;
    color: var(--background);
}

.header-container h {
    font-size: 50px;
}

.header-container ul {
    padding: 0;
    margin: 30px 0 0 0;
}

.header-container h1 {
    font-size: 32px;
    font-weight: 400;
}

.header-container ul li {
    width: fit-content;
    font-size: 18px;
    font-weight: 200;
    padding: 5px;
    margin: auto;
}

.header-container p {
    margin: 100px;
    font-size: 20px;
}

.game-list-container {
    border-radius: 50px 50px 0 0;
    position: relative;
    padding-top: 50px;
    top: 600px;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    text-align: center;
}

.game-list-section, .game-desc-section {
    width: 80%;
    margin: auto;
    display: inline-block;
    clear: both;
    box-sizing: border-box;
    margin-top: 50px;
    text-align: center;
    color: var(--background);
}

.game-list-section > h, .game-desc-section > h {
    position: relative;
    display: block;
    padding: 15px;
    font-size: 28px;
    background-color: var(--primary);
    border-radius: 15px;
    margin-bottom: 5px;
}

.element, .small-element {
    float: left;
    width: calc(50% - 5px);
    padding: 15px;
    justify-content: center;
    font-size: 25px;
    background-color: var(--primary);
    box-sizing: border-box;
    position: relative;
    border-radius: 15px;
    margin: 5px 0;
}

.small-element {
    width: calc(25% - 7.5px);
}

.text-desc, .canvas-box, .game-video, .about-desc {
    padding: 15px;
    margin-top: 10px;
    justify-content: center;
    font-size: 20px;
    font-weight: 350;
    color: var(--background);
    text-align: left;
    background-color: var(--primary);
    box-sizing: border-box;
    position: relative;
    border-radius: 15px;
}

.about-desc {
    float: right;
    width: 60%;
}

.canvas-box {
    height: 600px;
}

.canvas-box p {
    color:var(--background);
    font-size: 20px;
    top: 0;
    left: 0;
    margin: 15px;
    padding: 5px 15px 5px 15px;
    display: inline;
    position: absolute;
    pointer-events: none;
}

canvas {
    display: inline-block;
    border-radius: 15px;
}

video {
    border-radius: 15px;
}

.element a, .small-element a {
    display: flex;
    position: relative;
}

.element img, .small-element img {
    width: 100%;
    border-radius: 15px;
}

.overlay-text {
    border-radius: 15px;
    font-size: 20px;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--primary);
    justify-content: center;
    align-items: center;
    background-color: #00000000;
    transition: 0.3s;
}

.overlay-text:hover {
    background-color: #E7F0DCAA;
}

.overlay-text > * {
    opacity: 0;
    transform: translateY(30px);
    transition: 0.3s;
}

.overlay-text:hover > * {
    opacity: 1;
    transform: translateY(0px);
}

.text-desc h {
    display: block;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.text-desc a > h {
    margin: 5px;
    text-decoration: underline;
    color: var(--background);
}

.text-desc img {
    display: block;
    width: 100%;
    margin: auto;
}

.form-box * {
    font-size: 18px;
    color: var(--background);
    font-family: "Oswald", Helvetica, sans-serif;
    padding: 10px;
    margin: 10px 10px 10px 0;
}

.form-button {
    font-weight: 500;
    color: var(--background);
    border-radius: 20px;
    background-color: var(--secondary);
    border: none;
    cursor: pointer;
    padding: 10px 50px;
}

.form-text {
    width: calc(100% - 30px);
    color: var(--text);
    font-weight: 300;
}

.pfp-box {
    width: 30%;
    float: left;
    padding: 15px;
    background-color: var(--primary);
    border-radius: 15px;
    margin: auto;
}

.pfp-box img {
    width: 100%;
    border-radius: 15px;
}

.small-element-margin {
    margin-right: 10px;
}

.software-section {
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    background-color: var(--primary);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 15px;
    color: var(--background);
}

.software-element {
    background-color: var(--secondary);
    border-radius: 15px;
    padding: 15px;
    margin: 7.5px;
    position: relative;
    box-sizing: border-box;
    width: 200px;
    height: 300px;
}

.software-element img {
    width: 100%;
}

.software-element p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.itch {
    margin: auto;
    width: 50%;
    background-color: var(--primary);
    border-radius: 15px;
    padding: 30px;
}

.itch p {
    font-size: 28px;
    width: 30%;
    margin: 15px auto;
}

iframe {
    width: 100%;
}

.top-margin {
    margin-top: 50px;
}

@media screen and (max-width: 900px) {
.burger-topnav {
    display: inline-block;
}

.topnav {
    height: 54px;
    display: none;
}

.game-list-section {
    width: 80%;
}

.game-desc-section {
    width: 80%;
}

.canvas-box {
    height: 300px;
}

.element {
    width: 100%;
}

.small-element {
    width: calc(50% - 5px);
}

.small-element-margin {
    margin-right: 0;
}

.pfp-box {
    float: none;
}

.about-desc {
    float: none;
    width: 100%;
}}

@media screen and (max-width: 600px) {
.software-element {
    width: 100%;
}

.software-element img {
    max-width: 200px;
}}
    

@media screen and (max-width: 500px) {
.small-element {
    width: 100%;
}}

.socials {
    width: 40%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    clear: both;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.nav-socials {
    float: right;
    position: relative;
    box-sizing: border-box;
    display: flex;
}

.social, .nav-social {
    float: left;
    width: 60px;
    height: 50px;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 25px;
}

.social img {
    height: 100%;
}